@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
	--blue: #0065fc;
	--blue-light: #deebff;
	--white: #f2f2f2;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-family: "Raleway", sans-serif;
	background: var(--white);
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}

h5 > i {
	background: transparent;
	color: #0065fc;
}

/* Navbar section */

header {
	width: 90%;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
}

.nav__img--mobile {
	display: none;
}

nav > ul {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	width: fit-content;
	height: 100px;
}

ul > li {
	display: flex;
	height: inherit;
	align-items: center;
	list-style: none;
	width: 130.433px;
	justify-content: center;
}

ul > li:hover {
	cursor: pointer;
	border-top: 4px solid var(--blue);
	color: var(--blue);
}

/* Tablet media query  navbar*/
@media ((max-width: 991px) and (min-width: 768px)) {
	nav > ul {
		gap: 0;
		padding-left: 0;
		width: 100%;
	}
	nav {
		height: fit-content;
		flex-direction: column;
		align-items: center;
	}

	.nav__img {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.nav__img--desktop {
		display: none;
	}

	.nav__img--mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;
	}
	ul > li:hover {
		cursor: pointer;
		border-bottom: 4px solid var(--blue);
		color: var(--blue);
		border-top: none;
	}
	ul > li {
		border-bottom: 4px solid gray;
		width: 50%;
	}
}

/* mobile phone media query navbar
 */

@media ((max-width: 767px) and (min-width: 320px)) {
	nav > ul {
		gap: 0;
		padding-left: 0;
		width: 100%;
	}
	nav {
		height: fit-content;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
	}

	.nav__img {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.nav__img--desktop {
		display: none;
	}

	.nav__img--mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;
	}
	ul > li:hover {
		cursor: pointer;
		border-bottom: 4px solid var(--blue);
		color: var(--blue);
		border-top: none;
	}
	ul > li {
		border-bottom: 4px solid gray;
		width: 50%;
	}
}

/* Filter and search section */
.filterMap {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
}

.searchBox__filters {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 10px;
}

.searchBox__filters__buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.button--filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--blue-light);
	gap: 10px;
	border-radius: 15px;
	width: fit-content;
	height: fit-content;
	padding-right: 15px;
	transition: 0.5s ease-in-out;
}

.button--filter:hover {
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.button--filter:hover > button {
	transition: 0.5s ease-in-out;
	cursor: pointer;
	color: var(--blue);
}

.button--filter > button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	overflow: hidden;
	background: transparent;
	border-radius: 15px;
	font-weight: bold;
	font-size: 14px;
}

.button--filter > i {
	border-radius: 60px;
	width: 20px;
	height: 20px;
	background-color: var(--blue-light);
	color: var(--blue);
	padding: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	overflow: visible;
}

.searchBox__filters > h5 {
	font-size: 16px;
	font-weight: 400;
	padding: 0 20px;
}

/* search box */
.searchBox {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
	width: fit-content;
	border-radius: 60px 60px 60px 60px;
	height: 100px;
	border: 1px solid var(--white);
}

.searchBox > i {
	border-radius: 60px 0 0 60px;
	width: 40px;
	height: 40px;
	background-color: var(--white);
	color: black;
	padding: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchBox__form {
	display: flex;
	height: 40px;
}

.searchBox__form > input {
	font-weight: bold;
	outline: none;
	border: none;
	color: black;
	background: transparent;
	margin: 0;
}

.searchBox__form > input:focus {
	border: 1px solid var(--blue);
}

.searchBox__button--mobile > i {
	border-radius: 0 0 60px 0;
	width: 40px;
	height: 40px;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.searchBox__button {
	cursor: pointer;
	border-radius: 0 15px 15px 0;
	background: var(--blue);
	color: var(--white);
	font-weight: bold;
	border: none;
}

.searchBox__button--mobile {
	transition: 0.5 ease-in-out;
	display: none;
	left: -70vh;
}

/* media query for tablet filter and search section */
@media ((max-width: 991px) and (min-width: 768px)) {
	.searchBox__button--mobile {
		transition: 0.5 ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		outline: none;
		background-color: var(--blue);
		color: var(--white);
		border-radius: 15px;
		padding: 5px 5px;
		left: 0px;
		cursor: pointer;
	}
	.searchBox__button {
		transition: 0.5 ease-in-out;
		display: none;
	}

	.searchBox__filters {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: start;
	}
	.filterMap {
		align-items: center;
	}
}

/* media query for mobile filter and search section */
@media ((max-width: 767px) and (min-width: 320px)) {
	.searchBox__button--mobile {
		transition: 0.5s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		outline: none;
		background-color: var(--blue);
		color: var(--white);
		border-radius: 15px;
		padding: 5px 5px;
		left: 0px;
		cursor: pointer;
	}
	.searchBox__button {
		transition: 0.5 ease-in-out;
		display: none;
	}
	.searchBox__filters {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: start;
	}
	.searchBox__filters__buttons {
		flex-direction: column;
	}
	.searchBox__filters > h5 {
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		padding: 0 20px;
	}
}

/* hero section */
.hero {
	display: flex;
	flex-wrap: wrap;
	align-items: top;
	gap: 10px;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
}

.hero__left-side {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.hero__left-side__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1040px;
}

.hero__left-side-img {
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: white;
	padding: 10px;
	margin: 20px;
	border-radius: 15px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.hero__left-side > a {
	display: flex;
	height: fit-content;
	border-radius: 15px;
	padding: 10px;
	align-items: center;
	justify-content: space-around;
}

.hero__left-side-img > a > img {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 15px 15px 0 0;
}

.hero__left-side-text > h4,
p {
	margin: 0;
	padding: 5px;
}

.stars {
	padding-left: 3px;
}

.filled {
	color: var(--blue);
}

.unfilled {
	color: var(--white);
}

.black {
	color: black;
}

/* media query for hero left side */
@media ((max-width: 991px) and (min-width: 768px)) {
	.hero__left-side {
		order: 2;
	}
}

@media ((max-width: 767px) and (min-width: 320px)) {
	.hero__left-side {
		order: 2;
	}
}

/* hero right section */

.hero__right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	box-sizing: border-box;
}

.hero__right__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.hero__right-side-img {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: white;
	padding: 5px 0 5px 5px;
	margin: 30px;
	border-radius: 15px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.hero__right-side-img > a {
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
}

.hero__right-side-img > a > img {
	width: 50%;
	height: 170px;
	overflow: hidden;
	border-radius: 15px 0 0 15px;
}

.hero__right-side-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 5px;
}
.hero__right-side-text > h4,
p {
	margin: 0;
	padding: 0;
}

.hero__right-side-text > p {
	font-size: 14px;
}

/* TODO media query for right side hero section */

@media ((max-width: 991px) and (min-width: 768px)) {
	.hero {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.hero__right {
		order: 1;
		align-self: center;
		justify-content: center;
	}
	.hero__right__header {
		width: 50%;
	}
	.hero__right-side-img {
		width: 50%;
	}
}

@media ((max-width: 767px) and (min-width: 320px)) {
	.hero__right {
		order: 1;
		align-items: center;
		justify-content: center;
	}
}

/* Activities section */
.activitiesSection {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.activitiesSection > h2 {
	padding: 0 50px;
}
.activities-articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.activities-articles__container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}

/* large images */
.activities__fig__xl > img {
	border-radius: 15px 15px 0 0;
	width: 300px;
	height: 400px;
}

.activities__fig__xl > figcaption {
	padding-left: 20px;
}

/* small images */
.activities__fig__xs > figcaption {
	padding-left: 20px;
}

.activities__fig__xs > img {
	border-radius: 15px 15px 0 0;
	width: 300px;
	height: 150px;
}

/* activities media query */

@media ((max-width: 991px) and (min-width: 768px)) {
	.activities__fig__xl > img {
		height: 150px;
	}
}

@media ((max-width: 768px) and (min-width: 320px)) {
	.activities__fig__xl > img {
		height: 150px;
	}
}

/* Footer section */
footer {
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: flex-start;
}

footer > section {
	width: 400px;
	padding: 50px 50px;
	display: flex;
	flex-direction: column;
	line-height: 2em;
	flex-wrap: wrap;
}

footer > section > a:hover {
	color: var(--blue);
}
