@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
	--blue: #0065fc;
	--blue-light: #4f95ff7b;
	--white: #f2f2f2;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px 20px;
	font-family: "Raleway", sans-serif;
}

a {
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

h5 > i {
	background: transparent;
	color: #0065fc;
}

/* Navbar section */

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	padding: 0px 0px 20px 0px;
}

nav > ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 0px 40px;
	width: 400px;
	height: 100px;
}

ul > li {
	display: flex;
	height: inherit;
	border-top: 4px solid var(--blue);
	align-items: center;
	list-style: none;
}

/* Filter and search section */
.filterMap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.searchBox__filters {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
}

.button--filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--blue);
	gap: 10px;
	border-radius: 15px;
	width: fit-content;
	padding-right: 15px;
}

.button--filter > button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	overflow: hidden;
	border-radius: 15px;
	font-weight: bold;
	font-size: 14px;
}

.button--filter > i {
	border-radius: 60px;
	width: 20px;
	height: 20px;
	background-color: var(--blue-light);
	color: var(--blue);
	padding: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchBox {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
}

.searchBox__button--mobile {
	transition: 2s ease-in-out;
	display: none;
	left: -70vh;
}

@media (max-width: 768px) {
	.searchBox__button--mobile {
		transition: 2s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		outline: none;
		background-color: var(--blue);
		color: var(--white);
		border-radius: 15px;
		padding: 5px 5px;
		left: 0px;
	}
	.searchBox__button {
		transition: 2s ease-in-out;
		display: none;
	}
}

/* hero section */

/* Activities section */
.activitiesSection {
	display: flex;
	flex-direction: column;
}

/* Footer section */
footer {
	height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
