@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px 20px;
	font-family: "Raleway", sans-serif;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	padding: 0px 0px 20px 0px;
}

nav > ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 0px 40px;
	width: 400px;
	height: 100px;
}

ul > li {
	display: flex;
	height: inherit;
	border-top: 4px solid #0065fc;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

h5 > i {
	background: transparent;
	color: #0065fc;
}

.filterMap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 0px;
	gap: 10px;
}

.filterMap > h5 {
	width: 300px;
}

.searchBox {
	width: 400px;
	height: 30px;
}

.searchBox > i,
input,
button {
	height: inherit;
}

.searchBox > input {
	width: 250px;
	text-align: center;
}

.searchBox > button {
	width: 80px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	background: #0065fc;
	color: white;
}

.filters {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
	padding: 10px 0px;
	width: fit-content;
}

.filters > h2 {
	font-size: medium;
	font-weight: bold;
}

.filterButton {
	height: 30px;
	border: 1px solid;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
	border-color: #f2f2f2;
	cursor: pointer;
}

.filterButton > button {
	display: flex;
	justify-content: center;
	align-items: center;
	right: 20px;
	background: transparent;
	cursor: pointer;
	font-weight: bold;
	font-size: small;
	padding: 0px 20px;
}

.filterButton > i {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	color: #0065fc;
	background: #deebff;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.heroLeft {
	display: inline-flex;
	padding: 10px 10px;
	border-radius: 10px;
	background: #f2f2f2;
	width: 1000px;
	padding: 30px 10px;
	gap: 10px;
}

.heroLeft > h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 10px;
}

.heroLeft > h5 {
	font-size: 15px;
	font-weight: bold;
	padding: 10px 10px;
}

.img_container > img {
	width: 300px;
	height: 200px;
	position: relative;
	border-radius: 10px;
}

.img_container {
	position: relative;
	display: flex;
	padding: 10px 5px;
	background: white;
	width: fit-content;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.img_container > .text {
	background: white;
	position: absolute;
	bottom: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 5px 10px;
	width: 300px;
}

.star {
	color: #0065fc;
}

.star > span {
	color: black;
}

.activitiesSection {
	display: flex;
	flex-direction: column;
}

footer {
	height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
